mixin dropdown(optionsList)
    div(class="iqdropdown dropdown")
        p(class="iqdropdown-selection dropdown__selection" data-selection-text="гость" data-text-plural="гостя" data-text-plural-2="гостей" data-text-plural-3="гость")
        div(class="iqdropdown-menu dropdown__menu")
            for option in optionsList
                div(class="iqdropdown-menu-option dropdown__option" data-id=option.id)
                    div
                        p(class="iqdropdown-item dropdown__item")=option.item
