mixin dropdown(optionsList)
    div(class="iqdropdown dropdown")
        p(class="iqdropdown-selection dropdown__selection")
        div(class="iqdropdown-menu dropdown__menu")
            for option in optionsList
                div(class="iqdropdown-menu-option dropdown__option" data-id=option)
                    div
                        p(class="iqdropdown-item dropdown__item")=option
