block variables

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title toxin
    body
        include ../../components/kit-header/kit-header
        .container
            block content
