@import "../../theme/variables";

.like-button {
  background-color: $transparent;
  border: 1px solid $darkShade25;
  min-width: 40px;
  height: 20px;
  padding: 0;
  border-radius: 10px;
  vertical-align: middle;
  text-align: start;
  &__icon {
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    width: 20px;
    height: 20px;
    color: $darkShade25;
    &:after {
      content: 'favorite_border';
      display: inline-block;
      vertical-align: middle;
    }
  }
  &>span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: $darkShade25;
    display: inline-block;
    vertical-align: baseline;
  }
  &_pressed {
    border-color: $purple;
    &>.like-button__icon {
      color: $purple;
      &:after {
        content: 'favorite';
      }
    }
    &>span {
      color: $purple;
    }
  }
  &:hover,
  &:disabled,
  &:focus {
    @extend .like-button_pressed;
    outline: none;
  }
}
