span
    span(class='slider__from')=0
    span -
    span(class='slider__to')=1000
input(type="text" class="js-range-slider" name="my_range" value="" data-type="double" data-min="0" data-max="1000" data-from="200" data-to="500" )
