extends ../../layout/ui-kit/ui-kit.pug
block variables
    -var selectorOptions = ['option1', 'option2', 'option3'];

block content
    .form-elements__column
        include ../../components/text-field/text-field
        +textField('text field', text, 'Email', 'text field')
        +textField('text field', text, 'This is pretty awesome', 'text', 'hover')

        include ../../components/dropdown/dropdown
        +dropdown(['option1', 'option2', 'option3', 'option4'])

        include ../../components/radio-buttons/radio-buttons
        +radio-buttons(['item1', 'item2', 'item4'], 'Name')
