$darkShade100: #1F2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$transparent: rgba(0, 0, 0, 0);

@mixin clear-fix($height) {
  min-height: $height;
  height: 100%;
  width: 100%;
}
