doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title toxin
    body
        .ui-kit__header
            img(src="../../logo.png" alt="logo")

        block content
