@font-face {
    font-family: 'Quicksand';
    src:
        url('../assets/fonts/Quicksand-Bold.ttf') format('truetype'),
        url('../assets/fonts/Quicksand-Bold.woff') format('woff'),
        url('../assets/fonts/Quicksand-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
