extends ../layout/ui-kit.pug

block content
        .colors-block
            .colors-block__item
                .kit__color.kit__color_dark-shade-100
                .color-block__text
                    h2 Dark Shade 100%
                    h2 #1F2041

            .colors-block__item
                .kit__color.kit__color_dark-shade-75
                .color-block__text
                    h2 Dark Shade 75%
                    h2 #1F2041

            .colors-block__item
                .kit__color.kit__color_dark-shade-50
                .color-block__text
                    h2 Dark Shade 50%
                    h2 #1F2041

            .colors-block__item
                .kit__color.kit__color_dark-shade-25
                .color-block__text
                    h2 Dark Shade 25%
                    h2 #1F2041

            .colors-block__item
                .kit__color.kit__color_dark-shade-5
                .color-block__text
                    h2 Dark Shade 5%
                    h2 #1F2041

            .colors-block__item
                .kit__color.kit__color_purple
                .color-block__text
                    h2 Purple
                    h2 #1BC9CFF

            .colors-block__item
                .kit__color.kit__color_green
                .color-block__text
                    h2 Green
                    h2 #6FCF97

        .type-block
            .type-block__item
                h1.type-block__text H1
                h1 This one is the sub-section or widget title

            .type-block__item
                h2.type-block__text H2
                h2 Next one is the item title inside widgets

            .type-block__item
                h3.type-block__text H3
                h3 This is a label or CTA text

            .type-block__item
                p.type-block__text Body
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.
