extends ../layout/ui-kit.pug

block content
    .form-elements__column
        include ../components/form-elements/text-field
        +textField('text field', text, 'Email', 'text field')
        +textField('text field', text, 'This is pretty awesome', 'text', 'hover')


