extends ../layout/ui-kit.pug
block variables
    -var selectorOptions = ['option1', 'option2', 'option3'];

block content
    .form-elements__column
        include ../components/form-elements/text-field
        +textField('text field', text, 'Email', 'text field')
        +textField('text field', text, 'This is pretty awesome', 'text', 'hover')

        include ../components/form-elements/dropdown/dropdown
        +dropdown()
