@import '~item-quantity-dropdown/lib/item-quantity-dropdown.min.css';

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $darkShade100;
  margin: 0 0 5px;
  text-transform: uppercase;
  display: block;
}

input {
  max-width: 320px;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 15px;
  color: $darkShade25;
  display: block;

  &.hover {
    border: 1px solid $darkShade50;
    color: $darkShade75;
  }

  &:hover,
  &:focus {
    @extend input.hover
  }
}

.form-elements__column {
  min-width: 33.333%;
}

select {
  padding: 12px 15px 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdown {
  &:after {
    content: "";
    width: 44px;
    height: 44px;
    background: url("../assets/img/expand_more.png");
    background-size: cover;
  }
  &__option {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
  }
  &__counter {
    display: flex;
  }
  &__button {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $darkShade05;
    font-size: 18px;
    line-height: 22px;
    color: $darkShade05;
  }
}
