@import '../css/quicksand.css';

$darkShade100: #1F2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

.ui-kit__header {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.ui-kit__logo {
  width: 48px;
  height: 48px;
  background-image: url("../assets/img/logo.png");
  background-size: cover;
}

.container {
  display: flex;
  max-width: 1160px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
  box-sizing: content-box;
}

.colors-block {
  display: flex;
  flex-direction: column;
  margin-right: auto;

  &__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__subtitle {
      font-family: 'Quicksand', sans-serif;
      font-weight: normal;
  }
}

.kit__color {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 40px;

  &_dark-shade-100 {
    background-color: $darkShade100;
  }

  &_dark-shade-75 {
    background-color: $darkShade75;
  }

  &_dark-shade-50 {
    background-color: $darkShade50;
  }

  &_dark-shade-25 {
    background-color: $darkShade25;
  }

  &_dark-shade-05 {
    background-color: $darkShade05;
  }

  &_purple {
    background-color: $purple;
  }

  &_green {
    background-color: $green;
  }
}

.type-block {
  display: flex;
  flex-direction: column;
  width: 400px;

  &__item {
    display: flex;
    margin-bottom: 50px;
  }

  &__text {
    font-weight: normal;
    color: $darkShade25;
    text-align: right;
    margin-right: 30px;
    display: block;
    width: 37px;
  }
}
