@import "../css/montserrat.css";
@import "../css/quicksand.css";
@import '~normalize.css';
@import "kit-styles.scss";

h1 {
  color: $green;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.image {
  width: 570px;
  height: 428px;
  background-image: url("../assets/img/5b_S52BEW3M.jpg");
}
