@import "../css/montserrat.css";
@import '~normalize.css';

$darkShade100: #1F2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

body {
  font-family: Montserrat;
}

h1 {
  color: chartreuse;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.image {
  width: 570px;
  height: 428px;
  background-image: url("../assets/img/5b_S52BEW3M.jpg");
}
