mixin checkboxButtons(optionsList)
  fieldset(class='checkbox')&attributes(attributes)
    for option in optionsList
      label
        input(type='checkbox' id='1' name=option.name)
        span(class='checkbox__input')
        span(class='checkbox__label')=option.label
