@import "../../theme/variables";

.checkbox {
  border: none;
  display: flex;
  flex-direction: column;
  &>legend {
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
  }
  &>label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    &>input[type='checkbox'] {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  &__input {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid $darkShade25;
    background-color: $transparent;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    &:before {
      position: absolute;
      content: '';
      height: 11px;
      width: 10px;
      background-image: url('./img/checkbox-mark.png');
      background-size: cover;
      -webkit-transition: .4s;
      transition: .4s;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__label {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
  }
  &>label>[type='checkbox']:checked+&__input {
    border-color: $purple;
    &:before {
      display: block;
    }
  }
}
